@* LastSubscriptionDateIsTypeOfStarted *@
@model bool 

@using (Html.BeginForm("SuspendResumeSubscription", "Subscription", FormMethod.Post))
{
    <button class="btn btn-@(Model ? "danger" : "success") btn-sm">
        @(Model ? "Приостановить" : "Подписаться")
    </button>
}