@using Microsoft.AspNetCore.Mvc.Rendering
@using ShopService.Models.SubscriptionViewModels
@model SubscriptionViewModel

<h1 class="row">Продукты</h1>

<div class="row">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            if (product.InSubscription)
            {
                @await Html.PartialAsync("./Partials/_ProductInSubscriptionPartial", product)
            }
            else
            {
                @await Html.PartialAsync("./Partials/_ProductPartial", product)
            }
        }
    </div>
</div>
<div class="row">
    <div class="pull-left">
        <h3>Интервал доставки</h3>
        @if (Model.DeliveryIntervalExist)
        {
            <h4>Текущий интервал доставки @Model.DeliveryInterval.DeliveryIntervalTemplate.Name,
                дата(ы) @Model.DeliveryInterval.SelectedDays</h4>
        }
        <a class="btn btn-primary btn-raised pull-left" asp-controller="DeliveryInterval" asp-action="Index">
            @(Model.DeliveryIntervalExist ? "Сменить интервал доставки" : "Перейти к интервалам доставки")
        </a>
        @await Html.PartialAsync("./Partials/_SuspendResumeSubscriptionPartial", Model.LastSubscriptionDateIsTypeOfStarted)
    </div>
    <div class="panel panel-default pull-right">
        <div class="panel-body">
            <span class="lead">Сумма товаров: @Model.ProductsPricesSum $</span>
        </div>
    </div>
</div>
<div class="row">
    <div asp-validation-summary="All" class="text-danger"></div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            
        });
</script>
}