@model List<ShopService.Entities.Product>

<h1>Продукты</h1>

<div class="row">
    @foreach (var product in Model)
    {
        if (product.InSubscription)
        {
            @await Html.PartialAsync("./Partials/_ProductInSubscriptionPartial", product)
        }
        else
        {
            @await Html.PartialAsync("./Partials/_ProductPartial", product)
        }
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            
        });
</script>
}